@import "../../global.scss";

.menu {
  font-family: "Roboto";
  width: 300px;
  height: 100vh;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;

  &.active {
    right: 0;

    @include respond(phone) {
      width: 100%;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: white;
    width: 60%;

    li {
      width: 100%;
      height: 5rem;
      margin-bottom: 25px;
      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
        transition: font-size 0.1s ease;
      }

      &:hover {
        font-weight: 500;
        font-size: 33px;
      }
    }
  }
}
