@import "../../global.scss";

.contact {
  background-image: url("../../../public/assets/wave3.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -200px;
  padding: 8rem 0 10rem 0;
  color: $dark-blue-text;
  overflow-y: hidden;
  transition: filter 1s ease;

  &.menu-active {
    filter: blur(3px) brightness(95%);
  }

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  @include respond(phone) {
    background-size: 300%;
    background-position: 0px -5rem;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 400px;
        height: 34px;
        font-size: 18px;
        margin-bottom: 1rem;
        border-radius: 4px;
        box-sizing: border-box;

        @include respond(phone) {
          width: 250px;
          height: 30px;
        }
      }

      textarea {
        width: 400px;
        height: 250px;
        font-size: 20px;
        margin-bottom: 1.5rem;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
        resize: none;

        @include respond(phone) {
          width: 250px;
          height: 200px;
        }
      }

      button {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        background-color: transparent;
        margin: 1rem;
        padding: 0.8rem 2rem;
      }
    }

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  footer {
    margin-top: 8rem;
    .container-fluid{
      font-family: "Montserrat";
      color: white;
    }
  }
}
