@import "../../global.scss";

.contact {
  min-height: 100vh;
  background-image: url("../../../public/assets/wave3.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: $dark-blue-text;
  transition: filter 1s ease;
  padding: 0px auto 0px auto;
  

  &.menu-active {
    filter: blur(3px) brightness(95%);
  }

  @include respond(tab-land) {
    background-size: 300%;
  }

  @include respond(phone) {
    background-size: 300%;
    background-size: cover;
  }

  .thank-you-message {
    font-size: 3rem;
    margin-bottom: 40rem;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 5rem;

      input {
        width: 400px;
        height: 34px;
        font-size: 18px;
        margin-bottom: 1rem;
        border-radius: 4px;
        box-sizing: border-box;
        opacity: 80%;

        &:hover {
          border-color: #d00b61;
        }

        &:focus {
          border-color: #d00b61;
          box-shadow: 1px 1px 3px #d00b61;
        }

        @include respond(phone) {
          width: 30rem;
          height: 3rem;
        }
      }

      textarea {
        width: 400px;
        height: 250px;
        font-size: 20px;
        margin-bottom: 1.5rem;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
        resize: none;
        opacity: 80%;

        &:hover {
          border-color: #d00b61;
        }

        &:focus {
          border-color: #d00b61;
          box-shadow: 1px 1px 3px #d00b61;
        }

        @include respond(phone) {
          width: 30rem;
          height: 25rem;
        }
      }

      button {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        background-color: transparent;
      }
    }

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  footer {
    text-align: center;
    width: 60%;
    margin: 0 auto;

    .container-fluid {
      font-family: "Montserrat";
      color: rgb(221, 221, 221);
      p{
        font-size: 14px;
        padding: 0 0;
      }

      a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: font-weight 0.3s ease-in ease-in-out;
        font-weight: 400;

        .icons{
          padding-left: 10px;
          font-size: 4rem;
        }

        &:hover{
          color: rgb(255, 255, 255);
          font-weight: 600;
        }
      }
    }

    @include respond(phone) {
      padding: 0 1rem;
    }
  }
}
