@import "../../global.scss";

.side-bar {
  width: 60px;
  position: fixed;
  bottom: 0px;
  right: 3rem;
  z-index: 2;

  @include respond(phone) {
    width: 5rem;
    right: 2rem;
  }

  ul {
    padding: 0px 0px;
    margin-bottom: 0px;

    li {
      padding-bottom: 15px;
      a {
        text-decoration: none;

        .icons {
          font-size: 3.5rem;
          color: #0f0c2de3;
          width: 50px;
          opacity: 90%;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.11);
            color: $primary-color;
          }
        }
      }
    }
  }
  ul::after {
    content: "";
    display: block;
    width: 1.8px;
    height: 120px;
    margin: 20px auto;
    opacity: 90%;
    background-color: $primary-color;

    @include respond(phone) {
      height: 10rem;
      background-color: transparent;
    }
  }
}
