@import "../../global.scss";

.side-bar {
  width: 60px;
  position: fixed;
  bottom: 0px;
  right: 3rem;
  z-index: 2;

  @include respond(phone) {
    width: 5rem;
    right: 2rem;
  }

  ul {
    padding: 0px 0px;
    margin-bottom: 0px;

    li {
      padding-bottom: 15px;
      a {
        text-decoration: none;

        .icons {
          font-size: 3.5rem;
          color: #070433;
          width: 50px;
          transition: transform 0.3s ease;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); 

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  ul::after {
    content: "";
    display: block;
    width: 1.8px;
    height: 120px;
    margin: 5px auto;
    background-color: rgb(0, 0, 0);
    
    @include respond(phone){
      height: 10rem;
      background-color: transparent;
    }
  }
}
