.intro{
    background-color: white;
    display: flex;
    background-image: "assets/pattern.svg";

    .left{
        flex: 0.5;
        overflow: hidden;

        .imageContainer{
            width: 750px;
            height: 750px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;
            overflow: hidden;
            
            img{
                height: auto;
                width: auto;
                scale: 130%;
                position: relative;
                top: -30px;
            }
        }
    }

    .right{
        flex: 0.5;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                font-size: 70px;
                margin: 10px 0;
            }

            h2{
                font-size: 40px;
            }

            h3{
                font-size: 35px;
                display: flex;
                
                span{
                    color: crimson;
                    padding-left: 5px;
                }
            }
        }

        a{
            position: absolute;
            bottom: 10px;
            left: 40%;

            img{
                width: 50px;
                animation: arrowBlink 2s infinite;
            }
            
            @keyframes arrowBlink {
                100%{
                    opacity: 20%;
                }
                
            }
        }
    }
}